. {
    background-color: 25cbbf;
    height: auto;
    width: 150px;
    float: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px;
}

.icons{
    display:inline-block;
    width: 64px; 
    height: 64px; 
   }

 a.icons:hover {
     background: #C93;
 }

var red = [0, 100, 63];
var orange = [40, 100, 60];
var green = [75, 100, 40];
var blue = [196, 77, 55];
var purple = [280, 50, 60];

var myName = "Riya Hariyaplar";
var letterColors = [red, orange, green, blue, purple];

if(10 < 3) {
    bubbleShape = 'square';
}
else {
    bubbleShape = 'circle';
}

drawName(myName, letterColors);
bounceBubbles(-1);
